{% extends 'vue/celebs/index.html' %} {% load static i18n %} {% block content %}
<ic-celeb></ic-celeb>
{% endblock %}{% block extrascript %}
<script>
  Vue.component("ic-celeb", {
    delimiters: ["[[", "]]"],
    template: `
      <div>
        {% include 'vue/cp-title.html' %}

          <div v-if="dialog.dDialog">
            {% include 'vue/celebs/celeb_form.html' %}
          </div>

          {% include 'vue/cp-data-table.html' %}
        </div>
    `,
    data() {
      return {
        table: {
          tData: [],
          tLoading: true,
          tSearch: "",
          tHeaders: [{
              text: "{% trans 'First Name' %}",
              value: "name"
            },
            {
              text: "{% trans 'Last Name' %}",
              value: "last_name"
            },
            {
              text: "{% trans 'Age' %}",
              value: "age"
            },
            {
              text: "{% trans 'Actions' %}",
              value: "action",
              sortable: false
            }
          ],
          tTitle: "{% trans 'Celebs List' %}",
          tItem: "{% trans 'Celeb' %}",
          tItemUrl: "{% url 'celeb_detail' 0  %}".slice(0, -2),
          tSelected: []
        },

        page: {
          pData: {},
          pTitle: "{% trans 'Celebs' %}",
          pUrl: "{% url 'celeb_list' %}"
        },

        dialog: {
          dDialog: false,
          dValid: false,

          dEditedSlug: "",
          dEditedItem: {
            id: "",
            name: "",
            slug: "",
            last_name: "",
            movies: [],
            inputRules: [v => v.length > 0 || "{% trans 'Field is required' %}"]
          },
          dDefaultItem: {
            id: "",
            name: "",
            slug: "",
            last_name: "",
            movies: []
          }
        },

        list: {
          lData: [],
          lParentData: [],
          lMovieData: [],
          lDutyData: []
        },

        include: {
          titleToolbar: false,
          buttonAll: false,
          selectParent: false,
          selectFromParent: false,
          select: false,

          titleRatingButton: false,
          titleFavButton: false,
          titleImageVideo: false,

          isMovie: false,
          isCeleb: false,
        },

        delConfirmText: "{% trans 'Are you sure want to remove ' %}",
        cudButton: false,
        isAdmin: true
      };
    },
    computed: {
      formTitle(item) {
        return this.dialog.dEditedSlug === "" ?
          "{% trans 'New ' %}" + this.table.tItem :
          "{% trans 'Edit ' %}" + this.dialog.dEditedItem.name;
      },
    },
    watch: {
      dialog(val) {
        val || this.close();
      }
    },
    methods: {
      initialize() {
        window
          .icGet("celeb")
          .then(res => {
            this.table.tData = res;
          })
          .finally((this.table.tLoading = false));

        // for select list (Parent)
        // It should be initialized here for list to be loaded in form pages.
        this.getListCrew();
        this.getListDuty();
      },

      gotoItem(from, item) {
        window.icGoto(this.table.tItemUrl, item.slug);
      },
      addItem(from) {
        this.dialog.dDialog = true;
        this.dialog.dEditedSlug = "";
      },
      editItem(from, item) {
        this.dialog.dEditedSlug = item.slug;
        this.dialog.dEditedItem = Object.assign({}, item);
        this.dialog.dDialog = true;
      },
      deleteItem(from, item) {
        if (confirm(this.delConfirmText + item.full_name + "?")) {
          window.icDelete("celeb", item.slug);
          window.icGoto(this.page.pUrl);
        }
      },

      saveItem() {
        if (this.$refs.form.validate()) {
          if (this.dialog.dEditedSlug === "") {
            window.icPost("celeb", this.dialog.dEditedItem);
          } else {
            window.icPut(
              "celeb",
              this.dialog.dEditedItem,
              this.dialog.dEditedSlug
            );
          }
          this.closeDialog();
        }
      },
      closeDialog() {
        this.dialog.dDialog = false;
        setTimeout(() => {
          this.dialog.dEditedItem = Object.assign({}, this.dialog.dDefaultItem);
          this.dialog.dEditedSlug = "";
          this.dialog.dValid = false;
          this.initialize();
        }, 300);
      },

      getListCrew() {
        window.icGet("celeb", this.page.pItemSlug, "movies").then(res => {
          this.list.lMovieData = res;
        });
      },
      getListDuty() {
        window.icGet("duty").then(res => {
          this.list.lDutyData = res;
        });
      }
    },

    created() {
      this.initialize();
    }
  });
</script>
{% endblock %}